body  {
    font-family: 'Lilita One', cursive;
}

.alert-container  {}

.callout-container  {
    height: 100vh;

    background: url(../images/milkshake-background-image.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.quotes-container  {}

.features-container  {}

/* Block dividers */

.block-divider  {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #f01c1c;
}

/* Navbar */

.navalert-container  {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar  {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(45, 44, 44, 0.5);
}

.navbar-phrase  {
    color: #fff;
}

/* Jumbotron */

.jumbotron  {
    background-color: transparent;
}

.jumbotron-header  {
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small  {
    font-style: italic;
}

/* Buttons */

.btn--call-to-action  {
    font-weight: bold;
    width: 160px;
}

.btn--red  {
    color: white;
    background-color: #f01c1c;
    border-color: #f01c1c;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus  {
    background-color: black;
    border-color: black;
}

