body  {
    font-family: 'Lilita One', cursive;
}


.container-wrapper  {

}

.container-wrapper--red  {
    background-color: #f05f40;
    color: white;
}


.alert-container .col-12  {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert  {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.callout-container  {
    height: 100vh;

    background: url(../images/milkshake-background-image.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.quotes-container  {}

.features-container  {}

/* Page headers */

.page-header  {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}


.page-header h2  {
    margin-top: 0;
}

.quotes .page-header  {
    margin-bottom: 25px;
}


/* Block dividers */

.block-divider  {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #f01c1c;
}

.block-divider--short  {
    width: 35px;
}

.block-divider--white  {
    background-color: white;
}


/* Content containers */

.content-container  {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container  {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar  {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(6, 95, 107, 0.5);
}

.navbar-phrase  {
    color: #fff;
}

.navbar .navbar-toggler  {
    border: 0;
}

.navbar-brand  {
    font-size: xx-large;
}

.navbar .navbar-nav a  {
    font-size: x-large;
}


/* Jumbotron */

.jumbotron  {
    background-color: transparent;
}

.jumbotron-header  {
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small  {
    font-style: italic;
}

/* Buttons */

.btn--call-to-action  {
    font-weight: bold;
    width: 160px;
}

.btn--red  {
    color: white;
    background-color: #f01c1c;
    border-color: #f01c1c;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus  {
    background-color: black;
    border-color: black;
}


/* Features section */


.feature  {
    text-align: center;
    margin-bottom: 40px;
}

.feature i  {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn  {
    background-color: white;
    border-color: white;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

/* Table */

.table  {
    margin-top: 25px;
}

